.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 80%;
    width: 500px;   
}

.box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.box:nth-child(1){
    border: 1px solid silver;
    border-top: none;
    border-left: none;
}
.box:nth-child(2){
    border: 1px solid silver;
    border-top: none;
}
.box:nth-child(3){
    border: 1px solid silver;
    border-top: none;
    border-right: none;
}

.box:nth-child(4){
    border: 1px solid silver;
    border-left: none;
}
.box:nth-child(5){
    border: 1px solid silver;
}

.box:nth-child(6){
    border: 1px solid silver;
    border-right: none;
}

.box:nth-child(7){
    border: 1px solid silver;
    border-left: none;
    border-bottom: none;
}

.box:nth-child(8){
    border: 1px solid silver;
    border-bottom: none;
}

.box:nth-child(9){
    border: 1px solid silver;
    border-right: none;
    border-bottom: none;
}
.box:hover {
    cursor: pointer;
}

.box.selected:hover {
    pointer-events: none;
    cursor: not-allowed;
}

.cross:after {
    content: 'X';
    display: block;
    color: black;
}

.zero:after {
    content: 'O';
    display: block;
    color: black;   
}

.game-over-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.game-over-container.end-game {
    display: flex;
}

.message-container {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 5px;
    height: 25%;
    width: 500px;
    max-width: 80%;
}

.replay-btn {
    align-self: flex-end;
    margin-top: auto;
    background: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 3px;
}